@import "../../shared-styles/shared-effects";

.head-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: grid;
  grid-template-columns: 17% 30%;

  .profile-avatar {
    border-radius: 100%;
    // background: yellowgreen;
    width: 12rem;
    margin: 3rem;
  }

  .profile-info {
    display: flex;
    flex-direction: column;

    .profile-info-data {

      font-size: 25px;
      margin: 16px;
      font-weight: 600;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
        "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
        Verdana, sans-serif;
      border: none;
      width: fit-content;
      transition: font-size 0.3s;
      &:hover {
        font-size: 30px;
      }
      &:disabled {
        background: none;
      }
      &:enabled {
        background: white;
      }
    }
    .autoContainer {
      @include floating;
      position: absolute;
      left: 33.7%;
      top: 32vh;
      background: #ffffff;
      z-index: 3;
      border-radius: 2px;
      max-height: 50%;
      overflow-x: hidden;

      .option {
        cursor: pointer;
        width: 100%;
        :hover {
          background: #cfcdcd;
        }
        .uni-name-option {
          display: block;
          padding: 10px 0px;
          justify-content: center;
          align-items: center;
          width: 100%;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }
      }
    }
    .autoContainer::-webkit-scrollbar {
      display: none;
    }

    .user-name,
    .user-uniName {
      margin-left: 0px;
    }
  }

  .head-right-div {
    display: flex;
    justify-content: center;

    .edit-btn {
      width: 80px;
      font-weight: 600;
      background: #766ffa;
      color: white;
      border-radius: 5px;
      border: none;
      outline: none;
      margin-top: 5%;
      // margin-left: 28%;
      text-align: center;
      padding: 0.8rem;
      transition: 0.3s;
      &:hover {
        background: #6f67fd;
        width: 40%;
        cursor: pointer;
      }
    }
  }
}
