.head-div {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 17% 30%;
      grid-template-columns: 17% 30%;
}

.head-div .profile-avatar {
  border-radius: 100%;
  max-width: 8rem;
  min-width: 8rem;
  max-height: 8rem;
  min-height: 8rem;
  margin: 2.5rem;
  margin-right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.head-div .profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.head-div .profile-info .profile-info-data {
  font-size: 20px;
  margin: 12px;
  padding-left: .7rem;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

.head-div .profile-info .profile-info-data:hover {
  font-size: 30px;
  cursor: pointer;
}

.head-div .profile-info .profile-info-data:disabled {
  background: none;
}

.head-div .profile-info .profile-info-data:enabled {
  background: rgba(224, 216, 216, 0.6);
}

.head-div .profile-info .dropdown-menu {
  border: none;
  -webkit-appearance: none;
  overflow: hidden;
  font-size: 20px;
  margin: 12px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: none;
  width: auto;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

.head-div .profile-info .dropdown-menu:hover {
  font-size: 30px;
  cursor: pointer;
}

.head-div .profile-info .dropdown-menu:disabled {
  background: none;
  color: #000000;
}

.head-div .profile-info .dropdown-menu:enabled {
  background: rgba(224, 216, 216, 0.6);
}

.save-button {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  background: #6f67fd;
  border-radius: 100%;
  position: absolute;
  bottom: 1rem;
  right: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
}

.save-button img {
  max-width: 50%;
  max-height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.save-button:hover {
  cursor: pointer;
  width: 3.8rem;
  height: 3.8rem;
}

.profile-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: linear-gradient(120deg, white, #f5f4fa, #f1f0f8, #c7c5f5);
}

.user-profile-loading {
  width: 100%;
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #a5a0ff;
}
/*# sourceMappingURL=user-profile.css.map */