@import "../../shared-styles/shared-effects";
@import "../../shared-styles/colors";

.head-div {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
  grid-template-columns: 17% 30%;
  height: 20vh;

  .profile-avatar {
    border-radius: 100%;
    max-width: 8rem;
    min-width: 8rem;
    max-height: 8rem;
    min-height: 8rem;
    margin: 2.5rem;
    margin-right: 0;
    object-fit: cover;
    cursor: pointer;
  }

  .profile-info {
    display: flex;
    flex-direction: column;

    .profile-info-data {
      font-size: 20px;
      margin: 12px;
      padding-left: .7rem;
      font-weight: 600;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
        "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
        Verdana, sans-serif;
      border: none;
      width: fit-content;
      transition: font-size 0.3s;
      &:hover {
        font-size: 30px;
        cursor: pointer;
      }
      &:disabled {
        background: none;
      }
      &:enabled {
        background: rgba(224, 216, 216, 0.6);
      }
    }

    .dropdown-menu {
      border: none;
      -webkit-appearance: none;
	  overflow: hidden;
      font-size: 20px;
      margin: 12px;
      font-weight: 600;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
        "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
        Verdana, sans-serif;
      border: none;
      width: auto;
      transition: font-size 0.3s;
      &:hover {
        font-size: 30px;
        cursor: pointer;
      }
    //   .dropdown-option {
    //   }
      &:disabled {
        background: none;
		color:#000000;
      }
      &:enabled {
        background: rgba(224, 216, 216, 0.6);
      }
    }
  }

  
}

.save-button {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  background: #6f67fd;
  border-radius: 100%;
  position: absolute;
  bottom: 1rem;
  right: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  @include floating;
  img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
  }
  &:hover {
    cursor: pointer;
    width: 3.8rem;
    height: 3.8rem;
  }
}

.profile-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: $linearColor;
}

.user-profile-loading {
  width: 100%;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a5a0ff;
}

.wrapper{
	overflow: scroll;
  height: 70vh;
}

.wrapper::-webkit-scrollbar{
	display: none;
}

.empty-warpper{
  width: 100%;
  height: 72vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: none;
  
  svg{
    margin-right: 6rem;
  }

  .empty-lottie{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    min-width: 70%;
    min-height: 50%;
  }

  .create-schedule{
    background: #6f67fd;
    padding: .6em;
    width: 12vw;
    color: white;
    font-size: 16px;
    font-weight: 700;
    transition: .3s;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5rem;
    z-index: 1;
    &:hover{
      width: 15vw;
    }  
  }
}