.transparent-cover {
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100000;
	display: none;
}

.x-div {
	font-size: 70px;
	color: #756dff;
	position: absolute;
	z-index: inherit;
	right: .8rem;
	top: -.8rem;
	font-weight: 400;
	&:hover {
		color: white;
		cursor: pointer;
	}
}
