.uni-manager-page {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.uni-manager-container {
  width: 80%;
  height: 85vh;
  background-color: #ffffff;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
}

.uni-manager-info {
  width: 95%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.uni-manager-info .left-div {
  width: 35%;
  padding: 1rem;
  margin-top: 1rem;
}

.uni-manager-info .right-div {
  width: 60%;
  height: 90%;
}

.uni-names-div {
  z-index: 1;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  height: 68.2vh;
  border-radius: 7px;
  width: 80%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.uni-names-div .uni-name-label {
  margin-bottom: -10px;
  margin-top: 5%;
}

.uni-names-div .autoContainer {
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  position: absolute;
  left: 33.8%;
  top: 28.8vh;
  background: #ffffff;
  width: 16%;
  z-index: 3;
  border-radius: 2px;
  max-height: 50%;
  overflow-x: hidden;
}

.uni-names-div .autoContainer .option {
  cursor: pointer;
  width: 100%;
}

.uni-names-div .autoContainer .option :hover {
  background: #cfcdcd;
}

.uni-names-div .autoContainer .option .uni-name-option {
  display: block;
  padding: 10px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.uni-names-div .autoContainer::-webkit-scrollbar {
  display: none;
}

.uni-names-div .change-uni-name-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.uni-names-div .change-uni-name-div .change-uni-name-btn {
  width: 35%;
  height: 2.5rem;
  font-weight: 600;
  background-color: #766ffa;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 5%;
}

.uni-names-div .delete-uni-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.uni-names-div .delete-uni-div .delete-uni-btn {
  width: 45%;
  height: 2.5rem;
  font-weight: 600;
  background-color: #766ffa;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 5%;
}

.uni-names-div .animated {
  width: 80%;
  height: 80%;
}

.uni-locations-div,
.uni-majors-div {
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  border-radius: 7px;
  width: 100%;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.uni-locations-div .location-tag-editor,
.uni-majors-div .location-tag-editor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.uni-locations-div .location-tag-editor .tags-border,
.uni-majors-div .location-tag-editor .tags-border {
  display: block;
  width: 85%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 16vh;
  padding: 1%;
  border: 2px solid #938efa;
  border-radius: 5px;
}

.uni-locations-div .location-tag-editor .tags-border::-webkit-scrollbar,
.uni-majors-div .location-tag-editor .tags-border::-webkit-scrollbar {
  display: none;
}

.uni-locations-div .location-tag-editor .uni-input-and-button-div,
.uni-majors-div .location-tag-editor .uni-input-and-button-div {
  width: 88%;
}

.uni-locations-div .location-tag-editor .uni-input-and-button-div .add-uni-location-button,
.uni-majors-div .location-tag-editor .uni-input-and-button-div .add-uni-location-button {
  width: 80%;
  padding: 0.8rem;
  background-color: #766ffa;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
}

.uni-locations-div .location-tag-editor .uni-input-and-button-div .add-uni-location-button:hover,
.uni-majors-div .location-tag-editor .uni-input-and-button-div .add-uni-location-button:hover {
  width: 75%;
  padding: 0.9rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

.uni-locations-div {
  height: 50%;
}

.uni-majors-div {
  height: 50%;
}

.location-tag {
  border-radius: 5px;
  background: #635cf1;
  padding: 0.25em;
  margin: 0.25em;
  padding-top: 0.35em;
  line-height: 2;
  white-space: nowrap;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
}

.location-tag .location-tag-text {
  padding-left: 0.5rem;
  padding-right: 0.25rem;
  color: #ffffff;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.location-tag .location-tag-delete {
  border: none;
  border-radius: 5px;
  background: #635cf1;
  color: #ffffff;
  font-size: 17px;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3% 0 1% 7%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}

.input {
  height: 2rem;
  font-size: large;
  border-bottom: 0.8px black solid;
}

.submit-btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.submit-btn-div .submit-btn {
  width: 35%;
  font-weight: 600;
  background: #766ffa;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 5%;
  text-align: center;
  padding: 0.8rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.submit-btn-div .submit-btn:hover {
  background: #6f67fd;
  width: 40%;
  cursor: pointer;
}

.uni-input-and-button-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  margin-top: 1rem;
}

.uni-input-and-button-div .add-button-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.uni-input-and-button-div .uni-manger-input-wraper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.uni-input-and-button-div .uni-locations-input {
  width: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 0.2rem;
}

.uni-input-and-button-div .uni-locations-input:hover, .uni-input-and-button-div .uni-locations-input:active {
  width: 100%;
  border-bottom: 1px solid #635cf1;
}
/*# sourceMappingURL=uni-manager.css.map */