@import "../../shared-styles/shared-effects";

.uni-manager-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.uni-manager-container {
  width: 95%;
  height: 95%;
  background-color: #ffffff;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include floating;

  .uni-manager-container-2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.uni-manager-info {
  width: 95%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  // background: #a9a6eb;
  .left-div {
    width: 35%;
    // background: #b8b6e2;
  }
  .right-div {
    width: 60%;
    height: 90%;
    // background: #b8b6e2;
  }
}

.uni-names-div {
  z-index: 1;
  @include floating;
  height: 68.2vh;
  border-radius: 7px;
  width: 80%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .uni-name-label {
    margin-bottom: -10px;
    margin-top: 5%;
  }
  .autoContainer {
    @include floating;
    position: absolute;
    left: 28.3%;
    top: 28vh;
    background: #ffffff;
    width: 20.1%;
    z-index: 3;
    border-radius: 2px;
    .option {
      cursor: pointer;
      width: 100%;
      :hover {
        background: #cfcdcd;
      }
      .uni-name-option {
        display: block;
        padding: 10px 0px;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
    }
  }
  .change-uni-name-btn {
    width: 35%;
    height: 2rem;
    font-weight: 500;
    background-color: #766ffa;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 5%;
  }
  .animated{
    width: 80%;
    height: 80%;
  }
}

.uni-locations-div,
.uni-majors-div {
  @include floating;
  border-radius: 7px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  margin-bottom: 2rem;
  // background: #b8b6e2;
  .location-tag-editor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .tags-border {
      width: 85%;

      height: fit-content;
      padding: 1%;
      border: 2px solid #938efa;
      border-radius: 7px;
    }
    .uni-input-and-button-div {
      width: 50%;
      display: flex;
      align-items: flex-start;

      // height: 50%;

      .add-uni-location-button {
        width: 35%;
        height: 2rem;
        font-weight: 500;
        background-color: #766ffa;
        color: white;
        border-radius: 5px;
        border: none;
        outline: none;
        margin-top: 5%;
      }
    }
  }
}
.uni-locations-div {
  height: 45%;
}
.uni-majors-div {
  height: 55%;
}

.location-tag {
  border-radius: 5px;
  background: #e2dfdf;
  padding: 0.25em;
  margin: 0.25em;
  line-height: 2;
  white-space: nowrap;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
  .location-tag-text {
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    color: #3933a3;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .location-tag-delete {
    border: none;
    border-radius: 5px;
    background: #e2dfdf;
    color: #6c63ff;

    font-size: 17px;
  }
}

.label {
  display: flex;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 2rem;
  font-size: large;
  border-bottom: 0.8px rgb(0, 0, 0) solid;
}
.submit-btn {
  display: block;
  width: 35%;
  height: 2rem;
  font-weight: 500;
  background-color: #191749;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 5%;
  margin-left: 28%;
}
