$primaryBtnColor: rgb(108, 99, 255);

$homePageBackground: rgb(255, 255, 255);

$navBarColor: white;

$linearColor: linear-gradient(120deg, white, #f5f4fa, #f1f0f8, #c7c5f5); // TODO pleaaaaaas some one change this
