body,
#root,
.page {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.page {
	background: #faf9f9;
}

.subpage {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

select:hover {
	cursor: pointer;
}
