.book-entry-method {
  width: 90%;
  height: auto;
  min-height: 86vh;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.book-entry-method .inputs-container {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  margin-bottom: .6rem;
  border: none;
}

.book-entry-method .inputs-container input {
  width: 75%;
  height: 20px;
  display: block;
  margin-top: 1.8rem;
  outline: none;
  border: none;
  border-bottom: 0.5px solid #c8c3c3;
  -webkit-transition: .3s;
  transition: .3s;
}

.book-entry-method .inputs-container input:hover, .book-entry-method .inputs-container input:focus {
  width: 80%;
  border: none;
  border-bottom: 0.5px solid #023af1;
}

.inputs-container::-webkit-scrollbar {
  display: none;
}

.submit-material-button {
  padding: .6rem;
  background: #756dff;
  width: 22%;
  font-size: 20px;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.4);
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.submit-material-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  background: #8f8aee;
  width: 30%;
}

.material-previewer-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 0.3px dashed rgba(0, 0, 0, 0.5);
}

.book-entry-method .material-previewer {
  width: 85%;
  height: 60%;
  background: white;
  border-radius: 12px;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.book-entry-method .material-previewer:hover {
  cursor: pointer;
}

.material-name-container {
  width: 100%;
  height: 2rem;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.drop-zoon-container {
  width: 75%;
  border: 1.8px dashed #cfcdcd;
  border-radius: 5px;
  height: 14vh;
  min-height: 10vh;
  margin-top: 5px;
  outline: none;
  overflow: hidden;
  margin-top: .5rem;
}

.drop-zoon-container div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
}

.drop-zoon-container div:hover {
  cursor: pointer;
  background: rgba(117, 109, 255, 0.1);
  border-radius: inherit;
}

.drop-zoon-container div pre {
  border-radius: inherit;
  text-align: center;
  margin: 0;
  outline: none;
  font-weight: 600;
  font-size: 1.1rem;
}

.drop-zoon-container div .active-pre {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: hover-to-drop ease 1.5s infinite alternate;
          animation: hover-to-drop ease 1.5s infinite alternate;
  outline: none;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: inherit;
}

@-webkit-keyframes hover-to-drop {
  0% {
    background: rgba(117, 109, 255, 0.2);
    border: 2px dashed rgba(247, 123, 123, 0.2);
  }
  100% {
    background: rgba(117, 109, 255, 0.6);
    border: 2px dashed #f77b7b;
  }
}

@keyframes hover-to-drop {
  0% {
    background: rgba(117, 109, 255, 0.2);
    border: 2px dashed rgba(247, 123, 123, 0.2);
  }
  100% {
    background: rgba(117, 109, 255, 0.6);
    border: 2px dashed #f77b7b;
  }
}

@media (max-width: 900px), (max-height: 540px) {
  .book-entry-method {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 74vh 40vh;
        grid-template-rows: 74vh 40vh;
    height: 95vh;
    max-height: 95vh;
    overflow-y: scroll;
    border: none;
    margin-top: 2rem;
  }
  .book-entry-method .inputs-container {
    border: none;
    height: 100%;
    overflow-y: scroll;
  }
  .book-entry-method .inputs-container .drop-zoon-container div pre {
    font-size: .85rem;
    font-weight: 900;
  }
  .submit-material-button {
    padding: .4rem;
    width: 20%;
    font-size: 14px;
  }
  .book-entry-method::-webkit-scrollbar {
    display: none;
  }
  .book-entry-method .material-previewer-container {
    border: none;
    margin-top: 10px;
    border-top: 0.3px dashed rgba(0, 0, 0, 0.5);
    height: 70vh;
  }
}

.book-entry-method .lottie-input-container {
  height: 24vh;
}

textarea {
  width: 75%;
  margin-top: 1.5rem;
  margin-bottom: 0;
  display: block;
  border: none;
  outline: none;
  min-height: 3rem;
  max-height: 4rem;
}

@media (max-height: 680px) {
  .lottie-input-container {
    height: 28vh;
  }
  .submit-material-button {
    padding: .6rem;
    width: 22%;
    font-size: 16px;
  }
}

@media (max-height: 540px) {
  .material-previewer-container {
    height: 100vh;
  }
}
/*# sourceMappingURL=book-entry.css.map */