@import '../../shared-styles/shared-effects';
.book-entry-method {
	width: 80%;
	height: 90%;
	background: white;
	border-radius: 18px;
	overflow-y: scroll;
	overflow-x: hidden;
	@include floating;
}

.book-entry-method::-webkit-scrollbar {
	display: none;
}
