.data-entry-page {
  width: 100%;
  height: 100%;
}

.data-entry-container {
  width: 80%;
  height: 90%;
  background: white;
  border-radius: 18px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.methods-header {
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 1rem;
  height: 25%;
}

.data-entry-container::-webkit-scrollbar {
  display: none;
}

.data-entry-method {
  width: 40%;
  height: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.4);
  border-radius: 12px;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}

.data-entry-method:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  width: 45%;
  height: 55%;
}

.data-entry-method-img {
  width: 90%;
  height: 85%;
}

.img-and-method {
  width: 100%;
  height: 80%;
  background: rebeccapurple;
}

.method-container {
  width: 100%;
  height: 12%;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.res-adder {
  cursor: pointer;
  min-width: 300px;
  max-width: 30%;
  height: 35vh;
  max-height: 300px;
  border-radius: 15px;
  margin: 1rem 0;
  overflow: hidden;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.res-adder .animation-container {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
}

.res-adder .animation-container svg {
  max-width: 60%;
}

.res-adder .res-type-container {
  width: 100%;
  height: 2rem;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 1.5rem;
  color: white;
  font-size: 20px;
  font-weight: 500;
  z-index: 1000;
  position: absolute;
}

.res-adder .hidden-div {
  display: none;
}
/*# sourceMappingURL=data-entry.css.map */