@import '../../shared-styles/shared-effects';
.adder {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;

    svg{
        max-height: 200px;
    }
}

.res-input {
	display: block;
	width: 75%;
	height: 20px;
	display: block;
	outline: none;
	border: none;
	border-bottom: 0.5px solid #c8c3c3;
	transition: .3s;
	margin-top: .5rem;
	&:hover,
	&:focus {
		width: 80%;
		border: none;
		border-bottom: .5px solid rgb(2, 58, 241);
	}
}

.res-submit-btn {
	padding: .6rem;
	background: rgb(117, 109, 255);
	width: 22%;
	font-size: 20px;
	color: white;
	font-weight: 500;
	border-radius: 6px;
	@include smallShadow;
	transition: .3s;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	margin-bottom: 1rem;
	&:hover {
		cursor: pointer;
		@include floating;
		background: rgb(143, 138, 238);
		width: 30%;
	}
}

.swal2-header{
	margin-top: 1rem;
	margin-bottom: 0;
	font-weight: 800;
}

.swal2-popup {
	padding: 0;
	border-radius: 15px;
	min-width: 35vw;
}

.res-text-area{
    min-height: 15vh;
    border: 1.5px dotted gray;
    border-radius: 15px;
    transition: .3s;
    padding: .4rem;
	&:hover,
	&:focus {
		width: 80%;
		border: 1.5px solid rgb(2, 58, 241);
	}
}


.video-previewer {
    margin-top: 1.5rem;
    width: 320px;
	height: 250px;
	background: white;
	border-radius: 12px;
	@include floating;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
    transition: .3s ease-in-out;
	img {
		min-height: 100%;
		min-width: 100%;
		object-fit: fill;
	}
	.name-wrapper{
		width:100%;
		height: 2.5rem;
		background: rgba(0,0,0,.75);
		position: absolute;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5rem 0;
		.name{
			color: #e0dff7;	
			font-weight: 700;
		}
	}
	&:hover {
		cursor: pointer;
	}
}

#pdf-link{
	margin-top: 1.2rem;
}

.swal2-header h2 {
	margin: 0;
	padding: 0;
}

.swal2-actions{
	margin-bottom: 1.2rem;
}