@import '../../shared-styles/shared-effects';
.manual-entry-method {
	width: 70%;
	height: 75vh;
	min-height: 72vh;
	background: white;
	border-radius: 18px;
	overflow: hidden;
	@include floating;
	display: grid;
	grid-template-columns: 50% 50%;
}

.inputs-container {
	width: 100%;
	height: 70vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow-y: scroll;
	margin-bottom: .6rem;
	input {
		width: 75%;
		height: 20px;
		display: block;
		margin-top: 2rem;
		outline: none;
		border: none;
		border-bottom: 0.5px solid #c8c3c3;
		transition: .3s;
		&:hover,
		&:focus {
			width: 80%;
			border: none;
			border-bottom: .5px solid rgb(2, 58, 241);
		}
	}
}

.inputs-container::-webkit-scrollbar {
	display: none;
}

.submit-material-button {
	padding: .6rem;
	background: rgb(117, 109, 255);
	width: 22%;
	font-size: 20px;
	color: white;
	font-weight: 500;
	border-radius: 6px;
	@include smallShadow;
	transition: .3s;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover {
		cursor: pointer;
		@include floating;
		background: rgb(143, 138, 238);
		width: 30%;
	}
}

.material-previewer-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.material-previewer {
	width: 380px;
	height: 320px;
	background: white;
	border-radius: 12px;
	@include floating;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	img {
		min-height: 100%;
		min-width: 100%;
		object-fit: cover;
	}
	&:hover {
		cursor: pointer;
	}
}

.material-name-container {
	width: 100%;
	height: 2rem;
	background: rgba(0, 0, 0, .7);
	position: absolute;
	bottom: .6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 20px;
	font-weight: 500;
}

// medias
@media (max-width: 1450px), (max-height: 540px) {
	.manual-entry-method {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 74vh 40vh;
		height: 90vh;
		overflow-y: scroll;
		border: none;
	}
	.inputs-container {
		border: none;
		border-bottom: .3px dashed rgba(0, 0, 0, .5);
		height: 100%;
		overflow-y: scroll;
	}

	.submit-material-button {
		padding: .4rem;
		width: 20%;
		font-size: 14px;
	}

	.manual-entry-method::-webkit-scrollbar {
		display: none;
	}

	.material-previewer-container {
		height: 100vh;
		overflow: hidden;
	}
	.material-previewer{
		max-height: 70vh;
	}
}

.lottie-input-container {
	height: 30vh;
}

textarea {
	width: 75%;
	margin-top: 1.5rem;
	margin-bottom: 0;
	display: block;
	border: none;
	outline: none;
	min-height: 3rem;
	max-height: 4rem;
}

@media (max-width:740px){
	.material-previewer{
		width: 80%;
		height: auto;
	}
}

@media (max-height: 680px) {
	.lottie-input-container {
		height: 35%;
	}
	.submit-material-button {
		padding: .6rem;
		width: 22%;
		font-size: 16px;
	}
	.material-previewer{
		width: 80%;
		height: auto;
		min-height: 200px;
	}
}

@media (max-height: 540px) {
	.material-previewer-container {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: auto;
	}
	.material-previewer{
		width: 60%;
		height: auto;
		min-height: 10vh;
	}
}
