.manual-entry-method {
  width: 70%;
  height: auto;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.inputs-container {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 0.3px dashed rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  margin-bottom: .6rem;
}

.inputs-container input {
  width: 75%;
  height: 20px;
  display: block;
  margin-top: 2.5rem;
  outline: none;
  border: none;
  border-bottom: 0.5px solid #c8c3c3;
  -webkit-transition: .3s;
  transition: .3s;
}

.inputs-container input:hover, .inputs-container input:focus {
  width: 80%;
  border: none;
  border-bottom: 0.5px solid #023af1;
}

.inputs-container::-webkit-scrollbar {
  display: none;
}

.submit-material-button {
  padding: .8rem;
  background: #756dff;
  width: 22%;
  font-size: 20px;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.4);
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit-material-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  background: #8f8aee;
  width: 30%;
}

.material-previewer-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.material-previewer {
  width: 72%;
  height: 50%;
  background: white;
  border-radius: 12px;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.material-previewer:hover {
  cursor: pointer;
}

.material-name-container {
  width: 100%;
  height: 2rem;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 600px), (max-height: 540px) {
  .manual-entry-method {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 74vh 40vh;
        grid-template-rows: 74vh 40vh;
    height: 90vh;
    overflow-y: scroll;
    border: none;
  }
  .inputs-container {
    border: none;
    border-bottom: 0.3px dashed rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow-y: scroll;
  }
  .submit-material-button {
    padding: .4rem;
    width: 20%;
    font-size: 14px;
  }
  .manual-entry-method::-webkit-scrollbar {
    display: none;
  }
}

.lottie-input-container {
  height: 35vh;
}

@media (max-height: 680px) {
  .lottie-input-container {
    height: 35%;
  }
  .submit-material-button {
    padding: .6rem;
    width: 22%;
    font-size: 16px;
  }
}

@media (max-height: 540px) {
  .material-previewer-container {
    height: 100vh;
  }
}
/*# sourceMappingURL=manual-entry.css.map */