@import '../shared-styles/colors';
@import './nav-bar/nav-bar';
@import './side-bar/side-bar';
@import './side-bar/side-bar-card';

.home-page {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: grid;
	background: $homePageBackground;
	grid-template-rows: 8% 92%;
	grid-template-columns: 18% 82%;
}
