.logo {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo svg {
  width: 80%;
  height: 70%;
  margin-bottom: .5rem;
}

.logo svg:hover {
  cursor: pointer;
}

.cls-1 {
  fill: #6466ae;
}

.cls-2 {
  fill: #231f20;
}

.search-bar-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 40%;
  border: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  outline: none;
  margin-left: 0.8rem;
}

.search-bar-section:hover, .search-bar-section:focus-within {
  width: 80%;
  border: none;
}

.search-bar-section:hover .search-input-field, .search-bar-section:focus-within .search-input-field {
  border-bottom: 0.5px solid #023af1;
}

.search-bar-section .search-input-field {
  border: none;
  outline: none;
  border-bottom: 0.5px solid #c8c3c3;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.search-bar-section .clear-search-bar-btn {
  width: 35px;
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-bar-section .clear-search-bar-btn img {
  width: 100%;
  height: 100%;
}

.expand-search-bar-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  outline: none;
  margin-left: 0.8rem;
  width: 80%;
  border: none;
}

.expand-search-bar-section .search-input-field {
  border: none;
  outline: none;
  border-bottom: 0.5px solid #023af1;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.expand-search-bar-section .clear-search-bar-btn {
  width: 35px;
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
}

.expand-search-bar-section .clear-search-bar-btn img {
  width: 100%;
  height: 100%;
}

.option-wrpper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  gap: .5rem;
}

.option-wrpper .user-avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
  margin-top: .25rem;
}

.option-wrpper .user-avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.option-wrpper .user-name {
  color: black;
  font-size: 1.2rem;
  font-weight: 800;
  padding-top: .5rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.option-wrpper span {
  font-weight: 900;
  font-size: 1.5em;
  padding-top: .6rem;
  color: #6466ae;
}

.nav-bar {
  width: 100%;
  height: 100%;
  background: white;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  grid-column-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.logo, .search-bar, .bar-options {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.side-bar {
  width: 100%;
  height: 100%;
  background: white;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  overflow-y: scroll;
  z-index: 0;
  padding-top: .5rem;
}

.side-bar::-webkit-scrollbar {
  display: none;
}

.side-bar-card {
  width: 100%;
  height: 7.5vh;
  min-height: 50px;
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 0.5px solid #dddbdb;
  text-decoration: none;
  color: black;
}

.side-bar-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  height: 7.8vh;
  width: 105%;
  margin-bottom: .4rem;
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 55%;
}

.card-icon {
  width: 100%;
  height: 80%;
  margin-left: .6rem;
  margin-top: .4rem;
}

.card-name {
  width: 80%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 18px;
}

.home-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  background: white;
  -ms-grid-rows: 8% 92%;
      grid-template-rows: 8% 92%;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

@media (max-width: 1200px) {
  .home-page {
    -ms-grid-columns: 25% 75%;
        grid-template-columns: 25% 75%;
  }
}

@media (max-width: 980px) {
  .home-page {
    -ms-grid-columns: 35% 65%;
        grid-template-columns: 35% 65%;
  }
}
/*# sourceMappingURL=home-style.css.map */