@keyframes login-container-animation {
	0% {
		width: 20%;
		height: 40%;
		opacity: .6;
		transform: translateY(20rem);
	}
	60% {
		width: 70%;
		height: 90%;
		opacity: .9;
		transform: translateY(0);
	}
	100% {
		width: 65%;
		height: 80%;
		opacity: 1;
		transform: translateY(0);
	}
}
