@keyframes signup-container-animation {
	0% {
		width: 20%;
		height: 40%;
		opacity: .6;
		transform: translateY(20rem);
	}
	60% {
		width: 70%;
		height: 90%;
		opacity: .9;
		transform: translateY(0);
	}
	100% {
		width: 65%;
		height: 80%;
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes flowers-animation {
	0% {
		transform: rotateY(0deg) rotateX(0deg);
		fill: #6c63ff;
	}
	100% {
		transform: rotateY(20deg) rotateX(20deg);
		fill: #d363ff;
	}
}

/* flower animation */

#flowers path,
#upper-branch path,
#lower-branch path {
	/* transform-origin: center;
	transform-box: fill-box; */
	animation: flowers-animation ease 3.5s infinite alternate;
}
