.logo {
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		width: 80%;
		height: 70%;
		&:hover{
			cursor: pointer;
		}
	}
}

.cls-1 {
	fill: #6466ae;
}
.cls-2 {
	fill: #231f20;
}
