@import '../../shared-styles/shared-effects';
@import './logo';
@import './search-bar';
@import './bar-options';

.nav-bar {
	width: 100%;
	height: 100%;
	background: white;
	@include floating;
	grid-column-end: 3;
	grid-column-start: 1;
	z-index: 1;
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 100%;
}

.logo, .search-bar, .bar-options {
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
	padding: 0;
	margin: 0;
}
