@import '../../shared-styles/shared-effects';
.side-bar-card {
	width: 100%;
	height: 7.5vh;
	min-height: 50px;
	background: white;
	display: grid;
	grid-template-columns: 30% 70%;
	overflow: hidden;
	transition: .3s;
	border-bottom: .5px solid rgb(221, 219, 219);
	text-decoration: none;
	color: black;
}

.side-bar-card:hover {
	cursor: pointer;
	@include floating;
	height: 7.8vh;
	width: 105%;
	margin-bottom: .4rem;
}

.icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 55%;
}

.card-icon {
	width: 100%;
	height: 80%;
	margin-left: .6rem;
	margin-top: .4rem;
}

.card-name {
	width: 80%;
	height: 60%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
}
