.mateiral-card {
  width: 280px;
  height: 240px;
  background: white;
  border-radius: 12px;
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 1rem;
}

.mateiral-card img {
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mateiral-card:hover {
  cursor: pointer;
}

.mateiral-card:hover .material-name-container {
  height: 3rem;
  padding-top: .8rem;
}

.mateiral-card:hover .material-name-container span {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation: numSpanAnim .3s ease-in-out alternate;
          animation: numSpanAnim .3s ease-in-out alternate;
  padding: .51rem 0;
  padding-bottom: 1rem;
  display: block;
}

@-webkit-keyframes numSpanAnim {
  0% {
    display: none;
    opacity: 0;
  }
  20% {
    display: block;
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes numSpanAnim {
  0% {
    display: none;
    opacity: 0;
  }
  20% {
    display: block;
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

.material-name-card-container {
  width: 100%;
  height: 2rem;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.rate-container {
  position: absolute;
  color: white;
  right: 0;
  top: 0;
  width: 30%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rate-container svg {
  position: relative;
  display: block;
  top: -0.9rem;
  left: 1.2rem;
  z-index: 60;
}

.rate-container span {
  position: relative;
  display: block;
  left: 1.2rem;
  top: -0.6rem;
  z-index: 60;
}

.rate-container img {
  position: absolute;
  width: 100%;
  z-index: 50;
}

.add-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.4)), color-stop(rgba(0, 0, 0, 0.3)), color-stop(rgba(0, 0, 0, 0.2)), color-stop(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.add-cover:hover span {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: white;
  -webkit-transition: 2s;
  transition: 2s;
}

.add-cover span {
  font-size: 6rem;
  color: gray;
  font-weight: bolder;
}

.save-button {
  z-index: 10000000000;
}

.schedule-alert {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
/*# sourceMappingURL=mateiral-card.css.map */