.topic-card {
  -webkit-box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
          box-shadow: 2px 4px 8px 0 rgba(51, 51, 51, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 175px;
  height: 175px;
  margin: 0.5rem;
  margin-bottom: 1rem;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.topic-card img {
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.topic-card:hover {
  width: 180px;
  cursor: pointer;
}

.topic-card:hover .top-part-container {
  height: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.topic-card:hover .topic-rate-container {
  display: none;
}

.topic-card:hover .icons-contianer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topic-card .topic-name-container {
  display: inline;
  font-size: 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
}

.topic-name-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0.6rem;
  width: 100%;
  height: 2rem;
  padding: 5px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.7);
}

.top-part-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  height: 45%;
  width: 100%;
  overflow: hidden;
}

.top-part-container .topic-rate-container {
  width: 0;
  height: 0;
  float: left;
  border-top: 2.5rem solid rgba(20, 20, 20, 0.85);
  border-right: 2.5rem solid rgba(20, 20, 20, 0.85);
  border-bottom: 2.5rem solid transparent;
  border-left: 2.5rem solid transparent;
  z-index: 50;
}

.top-part-container .topic-rate-container .topic-rate-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -30px;
  right: -20px;
}

.top-part-container .topic-rate-container .topic-rate-content span {
  color: white;
}

.top-part-container .icons-contianer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: none;
}

.top-part-container .icons-contianer .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 200%;
  margin: 0;
  padding: 0;
  background-color: rgba(20, 20, 20, 0.85);
  border-left: 1px solid white;
}

.top-part-container .icons-contianer .delete-icon {
  position: absolute;
  left: 25%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top-part-container .icons-contianer .edit-icon {
  position: absolute;
  left: 75%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top-part-container .icons-contianer .edit-icon svg {
  width: 50% !important;
  height: 50% !important;
}
/*# sourceMappingURL=topic-card.css.map */